.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  


  .cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cabecalho img{
    width: 30vw;
    height: 30vh;
  }

  .s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .presente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .presente img{
    height: 25vh;
  }

  .presente img:hover{
    cursor: pointer;
    height: 28vh;
    border: 2px solid rgb(15, 116, 20);
    border-radius: 50%;
    transition: 0.3s;
  }


}
