.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  



  .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    height: 8vh;
    width: 100vw;
    background-color: white;
  }

  .cabecalho img{
    height: 5vh;
  }

  .cabecalho h2{
    color: gray;
  }


  //
  .princ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    height: 90vh;
    width: 100vw;
    padding: 15px;
  
  
    background-color: rgb(216, 216, 216);
  }

  .sorvetes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
      background-color: rgb(255, 255, 255); 
      height: 50vh;
      width: 40vw;
  }

  .up{
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url('../../../public/assets/images/sorvetes.png');
    width: 90%;
    height: 100px;
    background-repeat: no-repeat;
    
  }
  .up h1{
    background-color: rgb(63, 7, 63);
    color: white;
    height: 50px;
    font-size: 22px;
    padding: 15px;
    margin: 5px
  }
  
  .novo h1{
    color: rgb(88, 88, 88);
    margin-top: 15px;
  }

  .inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 15px;
    margin-top: 15px;
  }

  
  input{
    width: 13vw;
    height: 3vh;
  }
  button{
    background-color: rgb(63, 7, 63);
    color: white;
    border: none;
    height: 3vh;
    width: 6vw;
  }
  button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(63, 7, 63);
    border: 2px solid rgb(63, 7, 63);
    transition: 0.3s;
  }

  .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;

    width: 32vw;
  }

  .total h3{
    color: rgb(70, 70, 70);
  }

  .total h5{
    color: rgb(70, 70, 70);
    font-size: 15PX;
  }

}